<div class="w-full h-screen flex justify-center items-center">
  <div class="w-96 flex justify-center items-center flex-col gap-8">
    <img
      src="https://ik.imagekit.io/drs/crowdpilot/assets/Logo%20Accent%20SVG%20CrowdPilot_9EaH70mmS.svg?updatedAt=1710340228811"
      alt="Join and create personalized community experiences."
      class="w-60 object-contain cursor-pointer hover:opacity-75"
    />

    <!-- Upload Profile -->
    <div class="flex flex-col gap-5 justify-center items-center">
      <p
        class="text-sm max-w-lg leading-4 font-semibold text-cambridge text-center"
      >
        Upload a profile picture or skip for now
      </p>

      <div
        class="w-36 h-36 rounded-full bg-ivory flex items-center justify-center cursor-pointer"
      >
        <div class="w-32 h-32 rounded-full bg-muted"></div>
        <div
          class="w-12 h-12 bg-eucalyptus rounded-full absolute ml-24 mt-24 flex justify-center items-center"
        >
          <lucide-icon name="plus" class="text-white"></lucide-icon>
        </div>
      </div>
    </div>

    <div class="w-full gap-2 flex flex-col">
      <!-- Complete Sign-up Button -->
      <button
        class="w-full flex justify-center items-center gap-2 rounded-md bg-hampton p-4 text-sm text-cambridge font-semibold"
      >
        Complete Sign-Up
      </button>

      <!-- Privacy Policy -->
      <p class="text-sm max-w-lg leading-5 font-center text-eucalyptus">
        By completing your registration you agree to our <br />
        application's
        <span
          class="font-semibold text-cambridge cursor-pointer hover:opacity-80"
          routerLink="privacy"
        >
          privacy policy.</span
        >
      </p>
    </div>

    <!-- Cancel Registration-->
    <div>
      <p class="text-sm max-w-lg leading-4 text-ash text-center">
        or
        <span
          class="font-semibold text-cambridge cursor-pointer hover:opacity-80"
          routerLink=""
        >
          cancel your registration
        </span>
      </p>
    </div>
  </div>
</div>
