<!-- Hero Component -->
<section
  class="w-full max-w-2xl flex flex-col justify-center items-center my-20 mx-auto gap-6"
>
  <h1 class="headline text-5xl leading-tight text-center w-full font-bold">
    Join and create personalized community experiences.
  </h1>
  <p
    class="text-xl max-w-2xl leading-8 font-center text-eucalyptus text-center"
  >
    Seamlessly meet the goals of your community extension program.<br />
    Create experiences, track participants, and give rewards.
  </p>
</section>
