<!-- Masthead Component -->
<app-masthead />

<!-- Hero Component-->

<app-hero />
<div class="blob-1"></div>
<div class="blob-2"></div>

<!-- Search Component -->
<app-search />

<div
  class="w-60 py-10 mx-auto mt-32 bg-ivory flex flex-col gap-2 justify-center items-center"
>
  <h1 class="cursor-default text-lg font-bold">temporary links</h1>
  <ul class="text-eucalyptus">
    <li class="cursor-pointer" routerLink="sign-up">sign-up</li>
    <li class="cursor-pointer" routerLink="sign-up/continue">
      upload profile photo
    </li>
    <li class="cursor-pointer" routerLink="auth/forgot-password">
      forgot password
    </li>
  </ul>
</div>
