<div class="w-full h-screen flex justify-center items-center">
  <div class="w-96 flex justify-center items-center flex-col gap-10">
    <img
      routerLink=""
      src="https://ik.imagekit.io/drs/crowdpilot/assets/Logo%20Accent%20SVG%20CrowdPilot_9EaH70mmS.svg?updatedAt=1710340228811"
      alt="Join and create personalized community experiences."
      class="w-60 object-contain cursor-pointer hover:opacity-75"
    />

    <!-- Inputs -->
    <div class="w-full gap-3 flex flex-col">
      <p class="text-sm max-w-lg leading-4 font-semibold text-cambridge">
        Reset your password
      </p>
      <!-- Email Text Input -->
      <form
        class="gap-2 flex flex-col"
        (ngSubmit)="onSubmit()"
        ngNativeValidate
        name="forgotPassword"
      >
        <div
          class="p-4 rounded-md w-full border-muted border-2 flex item-center gap-2"
        >
          <lucide-icon name="mail" class="text-muted"></lucide-icon>
          <input
            type="email"
            placeholder="Email"
            class="h-full w-full outline-none text-asphalt text-lg"
            name="email"
            [(ngModel)]="email"
            ngNativeValidate
          />
        </div>
        <!-- Continue Button -->
        <button
          [disabled]="email.length > 3 && email.includes('@') ? false : true"
          class="w-full flex justify-center items-center gap-2 rounded-md bg-hampton p-4 text-lg text-cambridge font-medium active:opacity-70"
          [ngClass]="[
            email.length > 2 ? 'cursor-pointer' : 'cursor-default',
            email.includes('@') ? 'cursor-pointer' : 'cursor-default',
            email.length > 2 ? 'opacity-100 cursor-pointer' : 'opacity-70',
            email.includes('@') ? 'opacity-100 cursor-pointer' : 'opacity-70'
          ]"
          ngNativeValidate
        >
          Continue
          <lucide-icon name="move-right" class="text-cambridge"></lucide-icon>
        </button>
      </form>
      @if(emailSent === true){
      <div
        class="bg-white border-ivory border-2 p-4 rounded-md flex gap-2 justify-center"
      >
        <lucide-icon name="square-check" class="text-gulf size-5"></lucide-icon>
        <div class="flex flex-col gap-1 justify-center">
          <p class="text-sm text-cambridge font-semibold">Instructions sent</p>
          <p class="text-sm text-ash">
            Password reset instructions have been sent to your email:
            <span class="font-medium text-cambridge">{{ confirmEmail }}</span>
          </p>
        </div>
      </div>
      }

      <p class="text-sm max-w-lg leading-5 font-center text-ash">
        Enter the email you used when you created your account to reset your
        password.
      </p>

      <div class="mt-6">
        <p class="text-sm max-w-lg leading-5 font-center text-ash text-center">
          back to
          <span
            class="text-sm max-w-lg leading-4 font-bold cursor-pointer text-cambridge text-center"
            routerLink="sign-in"
          >
            sign-in
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
