<div class="w-full h-screen flex justify-center items-center">
    <div class="w-96 flex justify-center items-center flex-col gap-10">
      <img
        src="https://ik.imagekit.io/drs/crowdpilot/assets/Logo%20Accent%20SVG%20CrowdPilot_9EaH70mmS.svg?updatedAt=1710340228811"
        alt="Join and create personalized community experiences."
        class="w-60 object-contain cursor-pointer hover:opacity-75"
      />

  
      <!-- Inputs -->
      <div class="w-full gap-3 flex flex-col">
        <p class="text-sm max-w-lg leading-4 font-semibold text-cambridge">
            Password Verification
             </p>
        <!-- Email Text Input -->
        <div
          class="p-4 rounded-md w-full border-muted border-2 flex item-center gap-2"
        >
          <lucide-icon name="mail" class="text-muted"></lucide-icon>
          <input
            type="text"
            placeholder="Email"
            class="h-full w-full outline-none text-asphalt text-lg"
          />
        </div>
      <!--continue button-->
      <button
        class="w-full flex justify-center items-center gap-2 rounded-md bg-hampton p-4 text-lg text-cambridge font-medium"
      >
        Continue
        <lucide-icon name="move-right" class="text-cambridge"></lucide-icon>
      </button>
      
      <p class="text-eucalyptus">  
        <br><span class="w-full h-0.5 bg-muted block"></span>
    </p>
    <div>
        <p class="text-sm max-w-lg leading-4 font-center text-eucalyptus text-center ">  
              <span class="font-semibold text-cambridge">Create Account </span> or go back <br>to
             <span class="text-sm max-w-lg leading-4 font-bold text-cambridge text-center "> Homepage. </span>
        </p>
    </div>
    </div>
  </div>
  